page-cadastro-pet-3 {
    ion-content{
        background-color: #517C8C !important;
    }
    .title-pet {
        font-size: 1.5em;
        color:#fff;
        margin-left: 10px;
    }
    .list-pet{        
        color:#fff;
    }
    ion-item{
        background: #7DACBC !important;
    }
    ion-searchbar{
        
    }

}
