page-pet-individual {

    .grid{
        display: grid;
        grid-template: "coluna coluna";

    }
    .grid1{
        display: grid;
        grid-template: "coluna";

    }
    .coluna{
        grid-area: "coluna";
        
    }
    .borda{        
        border-radius: 10px;
    }
    
    .linha-decoracao{
        border-bottom: 1px solid #40B8A8; 
    }
    #alinhamento-individual2{
        padding: 5px;
    }
    .texto-individual{
        font-weight: bold;
        font-size: 1em;
        color:#000;
    }
    ion-item {
        border-radius: 10px !important;
        background-color: #f6f6f6;
        opacity: 0.8;
        font-size: 0.9em;
    }

}