<!--
  Generated template for the CadastroPetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color='secondary'>
        <ion-title>Perdi meu Pet!</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-card>
        <ion-card-content text-center>
            <ion-list no-lines>
                <div class="title-pet">Informações do Pet</div>

                <ion-item class="pet-margin" *ngIf="acao=='perdido'">
                    <ion-label color="primary" floating>Nome</ion-label>
                    <ion-input [(ngModel)]="pet.nome"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Genero</ion-label>
                    <ion-select [(ngModel)]="pet.genero">
                        <ion-option *ngFor="let genero of generos">{{genero.nome}}</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label floating>Especie</ion-label>
                    <ion-select [(ngModel)]="pet.especie">
                        <ion-option *ngFor="let especie of especies">{{especie.nome}}</ion-option>
                    </ion-select>
                </ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-col col-6>
                            <ion-item>
                                <ion-label floating>Cor 1</ion-label>
                                <ion-select [(ngModel)]="pet.corPrimaria">
                                    <ion-option *ngFor="let cor of cores">{{cor.nome}}</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col col-6>
                            <ion-item>
                                <ion-label floating>Cor 2</ion-label>
                                <ion-select [(ngModel)]="pet.corSecundaria">
                                    <ion-option *ngFor="let cor of cores">{{cor.nome}}</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-6>
                            <ion-item>
                                <ion-label floating>Porte</ion-label>
                                <ion-select [(ngModel)]="pet.porte">
                                    <ion-option *ngFor="let porte of portes">{{porte.nome}}</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col col-6>
                            <ion-item>
                                <ion-label floating>Idade</ion-label>
                                <ion-select [(ngModel)]="pet.idade">
                                    <ion-option *ngFor="let idade of idades">{{idade.nome}}</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-textarea placeholder="Descrição" rows="4" [(ngModel)]="pet.descricao"></ion-textarea>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
{{cadastro1|json}}
<ion-footer no-shadow>
    <ion-toolbar position="bottom">
        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    <button ion-button full (click)="anterior()" class="borda">Voltar</button>
                </ion-col>
                <ion-col col-6>
                    <button ion-button full (click)="proximo()" class="borda">Próximo</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>