page-cadastro-pet-2 {
    ion-content{
        background-image:url("../assets/imgs/pattern-back.jpg") !important;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .title-pet {
        font-size: 1.5em;
        color:#40B8A8;
        font-weight: bold;
    }
    .borda{
        border-radius:10px;
    }

}
